<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stil.css">   
    </head>

    <body>
        <header>
            <h1>Coffee & Tea</h1>
        </header>

        <main>
            <%- body %>
        </main>
        <br/><br/><br/>
        <footer>
            <span>&copy; Coffee & Tea 2024</span>
        </footer>
    </body>
</html>