<p style="color: black; font-size: xx-large; font-style: italic;">Te-ai verificat?</p>
<% if (aux==0){ %>
    <p>Autentificare esuata!</p>
<% } %>

<% if (aux==1){ %>
    <p>Autentificare reusita!</p>
<% } %>